@use "../utils.scss";

.bar-window {
    border: 1px solid utils.gtkalpha(var(--window-fg-color), .1);
    border-radius: 12px;
    // background-color: gtkalpha(var(--window-bg-color), .7);
}

.workspaces {
    padding: 5px 10px;
}