@use "bar";
@use "colors";

* {
    font-family: 'JetBrains Mono Nerd Font';
    font-weight: 600;
    font-size: 0.780rem;
}

.title-1 {
  font-weight: 800;
  font-size: 181%;
}

.title-2 {
  font-weight: 800;
  font-size: 136%;
}

.title-3 {
  font-weight: 700;
  font-size: 136%;
}

.title-4 {
  font-weight: 700;
  font-size: 118%;
}

.surface-container {
  background-color: colors.$surface-container;
}