@import "colors.scss";
@import "widgets/bar.scss";
@import "widgets/prompts.scss";
@import "widgets/quick.scss";

.corner {
    // color: $background;
    background-color: transparent;
}

.title-1 {
    font-size: 1.5rem;
    font-weight: 800;
}

* {
    font-family: 'JetBrains Mono Nerd Font';
    font-weight: 600;
    font-size: 0.780rem;
    color: $on_background;
}